:root{
  --bg: #F3E8FF;
  --card: #FFFFFF;
  --primary: #3f194d;
  --text: #2D3748;
  --text-secondary: #718096;
  --despesa: #de062d;
  --receita: #37f4b5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg);
    color: var(--text);
    min-height: 100vh;
    overflow-x: hidden;
}

/* GRID PRINCIPAL */
section#allSection{
    display: grid;
    grid-template-columns: 250px 1fr;
    min-height: 100vh;
}

/* SIDEBAR */
header#ficha{
    background-color: var(--primary);
    padding: 30px 20px;
    min-height: 100vh;
}

/* MENU */
header#ficha ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header#ficha li{
    list-style: none;
}

header#ficha a{
    color: var(--bg);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

header#ficha a:hover{
    background-color: var(--bg);
    color: var(--primary);
}

/* CONTEÚDO */
main{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* TÍTULO */
.title{
    border-bottom: 1px solid var(--text);
    padding-bottom: 15px;
}

.title h1{
    font-size: 2.5em;
}

/* CARDS */
div#RCPContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

div#RCPContainer .rcp{
    height: 120px;
    border-radius: 20px;
    background-color: var(--card);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* FORM */
div#formContainer{
    background-color: var(--card);
    border-radius: 20px;
    padding: 20px;
}

div#formContainer form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

div#formContainer form input,
div#formContainer form select,
div#formContainer form button{
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid var(--primary);
    outline: none;
    padding: 10px;
}

/* BOTÃO */
button{
    background-color: var(--primary);
    color: var(--bg);
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: var(--bg);
    color: var(--primary);
}

/* HISTÓRICO */
div#listContainer{
    background-color: var(--card);
    border-radius: 20px;
    padding: 20px;
}

div#listContainer h2{
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary);
}

div#listContainer ul#historicoLista{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}