:root{
  --bg: #F3E8FF;
  --card: #FFFFFF;
  --primary: #8B5CF6;
  --text: #2D3748;
  --text-secondary: #718096;
  --despesa: #de062d;
  --receita: #37f4b5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--text);
    min-height: 100vh;
    overflow-x: hidden;
}

.title {
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid var(--text);
}

.title h1 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 15px;
    padding-bottom: 15px;
}

main {
    display: grid;
    grid-template-columns: 220px 1fr;
    gap: 30px;

    width: 90%;
    margin: 20px auto;
}

header#ficha {
    height: 84vh;
    padding: 20px;
    margin: 15px;
    background-color: var(--primary);
    border-radius: 20px;
}

header#ficha li {
    list-style-type: none;
}

header#ficha a {
    color: var(--bg);
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

div#RCPContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
    margin-top: 50px;

}

div#RCPContainer .rcp {
    align-content: space-between;
    height: 100px;
    width: 200px;
    border-radius: 20px;
    background-color: var(--card);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

div#formContainer {
    justify-self: center;
    grid-column: 2;
    margin-top: 100px;
}